@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Bitter",serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  color: black ;
}
:root {
  --primary: transparent;
  --secondary: #C5A361;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 26px;
  border: 3px solid var(--primary);
}
